.blogging-img{
    width: 50%;
}

.img-container{
    margin-left :455px;
    margin-top: 30px; 
}


.home-content{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}