.login{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 10px;


}

.login-elements{
    margin-top: 20px;
}


.success{
    color: rgb(13, 175, 13);
}

.errors{
    color: red;
}